body {
	color:black;
	font-family:Helvetica, sans-serif;
	font-size:24px;
}
header {
	background-color:#414161;
	color:white;
}
nav {
	background-color:#EDEDFF;
	width:15%;
	height:600px;
	float:left;
	padding-left:20px;
}
main {
	background-color:#DDDDEE;
	height:600px;
}
section {
	background-color:#EDEDFF;
	width:60%;
	height: 500px;
	margin-left:30%;
	padding-left:20px;
}
footer {
	background-color:#414161;
	color:white;
	text-align:center;
}
h1 {
	margin:0px;
	padding:20px;
	font-family:Tahoma, serif;
	font-size:40px;
}
h2 {
	margin:0px;
	padding:20px;
}
h3 {
	margin:0px;
	padding-top:10px;
}
footer p {
	margin:0px;
	padding:10px;
}