body {
	color: navy;
	font-size:1.5em;
}

h3 {
	font-family: serif;
	font-size: 2em;
	color: red;
}

a:link {
	color: #000ff;
	text-decoration: none;
}

a:active{
	color: light-blue;
	text-decoration: none;
}

a:visited {
	color: orange;
	text-decoration: none;
}

a:hover {
	color: rgb(0, 192, 0);
	text-decoration: underline;
}